<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Electronic Installment</title>
    <link href="~/images/logopic.jpg" rel="icon" type="icon" alt="Electronic Installment " />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
     

        figure.snip0016 {
            font-family: 'Raleway', Arial, sans-serif;
            color: red;
            position: relative;
            float: left;
            overflow: hidden;
            margin: 10px 1%;
            min-width: 220px;
            max-width: 310px;
            max-height: 450px;
            width: 100%;
            background: black;
            text-align: left;
            border-color: black;
        }

            figure.snip0016 * {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                border-color: black;
            }

            figure.snip0016 img {
                max-width: 100%;
                opacity: 1;
                width: 100%;
                -webkit-transition: opacity 0.35s;
                transition: opacity 0.35s;
            }

            figure.snip0016 figcaption {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 30px 3em;
                width: 100%;
                height: 100%;
            }

                figure.snip0016 figcaption::before {
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    bottom: 30px;
                    left: 100%;
                    border-left: 4px solid rgba(255, 255, 255, 0.8);
                    content: '';
                    opacity: 0;
                    background-color: red;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                    -webkit-transition-delay: 0.6s;
                    transition-delay: 0.6s;
                }

            figure.snip0016 h2,
            figure.snip0016 p {
                margin: 0 0 5px;
                opacity: 0;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
            }

            figure.snip0016 h2 {
                word-spacing: -0.15em;
                font-weight: 300;
                text-transform: uppercase;
                -webkit-transform: translate3d(30%, 0%, 0);
                transform: translate3d(30%, 0%, 0);
                -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s;
            }

                figure.snip0016 h2 span {
                    font-weight: 800;
                }

            figure.snip0016 p {
                font-weight: 200;
                -webkit-transform: translate3d(0%, 30%, 0);
                transform: translate3d(0%, 30%, 0);
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }

            figure.snip0016 a {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                position: absolute;
                color: #ffffff;
            }

            figure.snip0016:hover img {
                opacity: 0.3;
            }

            figure.snip0016:hover figcaption h2 {
                opacity: 1;
                -webkit-transform: translate3d(0%, 0%, 0);
                transform: translate3d(0%, 0%, 0);
                -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s;
            }

            figure.snip0016:hover figcaption p {
                opacity: 0.9;
                -webkit-transform: translate3d(0%, 0%, 0);
                transform: translate3d(0%, 0%, 0);
                -webkit-transition-delay: 0.6s;
                transition-delay: 0.6s;
            }

            figure.snip0016:hover figcaption::before {
                background: rgba(255, 255, 255, 0);
                left: 30px;
                opacity: 1;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }

        .btn-change {
            height: 50px;
            width: 120px;
            background: #42c5f4;
            margin: 20px;
            float: left;
            box-shadow: 0 0 1px #ccc;
            -webkit-transition: all 0.5s ease-in-out;
            border: 3px;
            color: #fff;
        }

            .btn-change:hover {
                -webkit-transform: scale(1.1);
                background: #f44144;
            }

        .btn-change7 {
            height: 50px;
            width: 130px;
            background: Black;
            margin: 20px;
            float: left;
            border: 0px;
            color: #fff;
            box-shadow: 0 0 1px #ccc;
            -webkit-transition-duration: 0.5s;
            -webkit-transition-timing-function: linear;
            box-shadow: 0px 0 0 #31708f inset;
        }

            .btn-change7:hover {
                box-shadow: 130px 0 0 #31708f inset;
            }




        .footer-distributed {
            background: #666;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;
            padding: 55px 50px;
        }

            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right {
                display: inline-block;
                vertical-align: top;
            }

            /* Footer left */

            .footer-distributed .footer-left {
                width: 40%;
            }

            /* The company logo */

            .footer-distributed h3 {
                color: #ffffff;
                font: normal 36px 'Open Sans', cursive;
                margin: 0;
            }

                .footer-distributed h3 span {
                    color: lightseagreen;
                }

            /* Footer links */

            .footer-distributed .footer-links {
                color: #ffffff;
                margin: 20px 0 12px;
                padding: 0;
            }

                .footer-distributed .footer-links a {
                    display: inline-block;
                    line-height: 1.8;
                    font-weight: 400;
                    text-decoration: none;
                    color: inherit;
                }

            .footer-distributed .footer-company-name {
                color: #222;
                font-size: 14px;
                font-weight: normal;
                margin: 0;
            }

            /* Footer Center */

            .footer-distributed .footer-center {
                width: 35%;
            }

                .footer-distributed .footer-center i {
                    background-color: #33383b;
                    color: #ffffff;
                    font-size: 25px;
                    width: 38px;
                    height: 38px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 42px;
                    margin: 10px 15px;
                    vertical-align: middle;
                }

                    .footer-distributed .footer-center i.fa-envelope {
                        font-size: 17px;
                        line-height: 38px;
                    }

                .footer-distributed .footer-center p {
                    display: inline-block;
                    color: #ffffff;
                    font-weight: 400;
                    vertical-align: middle;
                    margin: 0;
                }

                    .footer-distributed .footer-center p span {
                        display: block;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 2;
                    }

                    .footer-distributed .footer-center p a {
                        color: lightseagreen;
                        text-decoration: none;
                        
                    }

            .footer-distributed .footer-links a:before {
                content: "|";
                font-weight: 300;
                font-size: 20px;
                left: 0;
                color: #fff;
                display: inline-block;
                padding-right: 5px;
            }

            .footer-distributed .footer-links .link-1:before {
                content: none;
            }

            /* Footer Right */

            .footer-distributed .footer-right {
                width: 20%;
            }

            .footer-distributed .footer-company-about {
                line-height: 20px;
                color: #92999f;
                font-size: 13px;
                font-weight: normal;
                margin: 0;
            }

                .footer-distributed .footer-company-about span {
                    display: block;
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }

            .footer-distributed .footer-icons {
                margin-top: 25px;
            }

                .footer-distributed .footer-icons a {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    background-color: #33383b;
                    border-radius: 2px;
                    font-size: 20px;
                    color: #ffffff;
                    text-align: center;
                    line-height: 35px;
                    margin-right: 3px;
                    margin-bottom: 5px;
                }



        li {
            float: left;
        }

        .ctext{
            color:red;
        }
        
    </style>


</head>
<body>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand"><img src="~/images/logopic.jpg" height="100" width="250" /></a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<font  color="white" class="glyphicon-earphone">+923039720449</font>*@
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">categories<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Laptop(Dell,Hp)", "Laptop", "Home")</li>
                            <li>@Html.ActionLink("Mobile(Huwaie,Iphone)", "Mobile", "Home")</li>
                        
                            <li>@Html.ActionLink("Tablet(Sumsang)", "Tablet", "Home")</li>
                           

                          
                        </ul>
                    </li><li>@Html.ActionLink("Apply  Online", "Create", "User_Table")</li>
                    @*<li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                </li>*@






                <li>@Html.ActionLink("Gallery", "Gallery", "Home")</li>
                

                    <li>@Html.ActionLink("Installment Procedure", "InstallmentProcedure", "Home")</li>
                 
                   <li>
                @Html.ActionLink("Contact", "Contact", "Home")
        </li>
                    <li>@Html.ActionLink("Search", "Index", "Addmin_Table")</li>


                </ul>

                <ul class="nav navbar-nav navbar-right">

                    @Html.Partial("_LoginPartial")
                </ul>
              
            </div>

        </div>
    </div>
    <div>
        @RenderBody()

        <footer class="footer-distributed">

            <div class="footer-left">

                <h3>Electronics <n>Installment</n></h3>

                <p class="footer-links">
                    <a href="#" class="link-1">Home</a>

                    <a href="#">Blog</a>


                    <a href="#">About</a>

                    <a href="#">Contact</a>
                </p>

                <p class="footer-company-name">ElectronicInstallment©2018</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="glyphicon glyphicon-map-marker"></i>
                    <p><span> sumndari road  </span> Faisalabad</p>
                </div>

                <div>
                    <i class="glyphicon glyphicon-earphone"></i>
                    <p>+923039720449</p>
                </div>

                <div>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <p><a href="Electronicinstallment@gmail.com">Electronicinstallment@gmail.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About Electronics Installment</span>
                    Electronics Installment is one of the best installment company that provie laptop,phone Taplets .so stay with us.
                </p>

                <div class="footer-icons">

                    <a href="http://www.facebook.com/"><i><img src="~/images/facebook.png" height="30" width="20" /></i></a>
                    <a href="http://www.twitter.com/"><i><img src="~/images/twitter.png" height="30" width="20" /></i></a>
                    <a href="http://www.linkdin.com/s"><i><i><img src="~/images/linkdin.png" height="30" width="20" /></i></i></a>


                </div>

            </div>

        </footer>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
