
@{
    ViewBag.Title = "Laptop";
}

<div class="container">
    <h2>Laptop</h2>
    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="DELL INSPIRON 5567 – Ci3-4GB-1TB – 7th Generation">DELL INSPIRON 5567 – Ci3-4GB-1TB – 7th Generation</font></div>
        <figure class="snip0016">

            <img src="~/images/dell-inspiron-5567-1-1.jpg" height="300" width="200" alt="DELL INSPIRON 5567 – Ci3-4GB-1TB – 7th Generation" />


            <figcaption>
                <h2 class="ctext"> <span>DELL INSPIRON 5567 – Ci3-4GB-1TB – 7th Generation</h2>
                <p> Got it<br /> Enjoy your's life with Dell</p>
                <a href="http://www.dell.com/en-us/shop/dell-laptops/sc/laptops">Dell</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>16500Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentdellinspiration5567")</font></button>
        </div>
    </div>


    <div class="col-md-4">
        &nbsp;  &nbsp;  &nbsp;  <div><font color="Blue" title="HP 15-AC606TX – Ci7-8GB-1TB-2GC – 6th GenerationApple iphone"> &nbsp;  &nbsp;HP 15-AC606TX – Ci7-8GB-1TB-2GC – 6th Generation</font></div>

        <figure class="snip0016">

            <img src="~/images/hp15silver.jpg" width="200" height="300" alt="HP 15-AC606TX – Ci7-8GB-1TB-2GC – 6th Generation" />

            <figcaption>
                <h2 class="ctext"><span>HP 15-AC606TX – Ci7-8GB-1TB-2GC – 6th Generation</h2>
                <p>Got It<br />Enjoy your Life with Hp.</p>
                <a href="https://store.hp.com/us/en/cat/laptops">Ho</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>45500Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmenthp6thgenration")</font></button>
        </div>
    </div>

    <div class="col-md-4">

        &nbsp;  <div><font color="#18acf5" title="DELL INSPIRON 5567 – Ci5-4GB-1TB – 7th Generation"> &nbsp;DELL INSPIRON 5567 – Ci5-4GB-1TB – 7th Generation</font></div>
        <figure class="snip0016">

            <img src="~/images/dell-inspiron-5567.jpg" width="200" height="300" alt="DELL INSPIRON 5567 – Ci5-4GB-1TB – 7th Generation" />


            <figcaption>
                <h2 class="ctext"> <span>DELL INSPIRON 5567 – Ci5-4GB-1TB – 7th Generation</h2>
                <p> Got it<br /> Enjoy your's life with Dell</p>
                <a href="https://www.Dell.Com/">Dell</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>40500Rs<b></b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentdellinspiration5567")</font></button>
        </div>

    </div>
</div>
<div class="container">
    <div class="col-md-4">

        &nbsp;  <div><font color="#18acf5" title="DELL INSPIRON 5567 – Ci5-4GB-1TB – 7th Generation"> &nbsp;DELL INSPIRON 5567 – Ci5-4GB-1TB – 7th Generation</font></div>
        <figure class="snip0016">

            <img src="~/images/dell-inspiron-5567.jpg" width="200" height="300" alt="DELL INSPIRON 5567 – Ci5-4GB-1TB – 7th Generation" />


            <figcaption>
                <h2 class="ctext"> <span>DELL INSPIRON 5567 – Ci5-4GB-1TB – 7th Generation</h2>
                <p> Got it<br /> Enjoy your's life with Dell</p>
                <a href="https://www.Dell.Com/">Dell</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>40500Rs<b></b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentdellinspiration5567")</font></button>
        </div>

    </div>
    <div class="col-md-4">
        &nbsp;  &nbsp;  &nbsp;  <div><font color="Blue" title="HP 15-AC606TX – Ci7-8GB-1TB-2GC – 6th GenerationApple iphone"> &nbsp;  &nbsp;HP 15-AC606TX – Ci7-8GB-1TB-2GC – 6th Generation</font></div>

        <figure class="snip0016">

            <img src="~/images/hp15silver.jpg" width="200" height="300" alt="HP 15-AC606TX – Ci7-8GB-1TB-2GC – 6th Generation" />

            <figcaption>
                <h2 class="ctext"><span>HP 15-AC606TX – Ci7-8GB-1TB-2GC – 6th Generation</h2>
                <p>Got It<br />Enjoy your Life with Hp.</p>
                <a href="https://store.hp.com/us/en/cat/laptops">Ho</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>45500Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmenthp6thgenration")</font></button>
        </div>
    </div>

</div>
