
@{
    ViewBag.Title = "Mobile";
}
<div class="container">
    <h2>Mobile</h2>

    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="Apple iphone  8plus 64 GB (Red Addition)">Apple iphone  8plus 64 GB (Red Addition)</font></div>
        <figure class="snip0016">

            <img src="~/images/ple iPhone 8 Plus – 64GB (RED EDITION).jpg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Apple iphone </span> 8plus 64 GB</h2>
                <p> Got it<br /> Enjoy your's life with iphone</p>
                <a href="https://www.apple.com/iphone/">Apple</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>34500Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart"> <!---64gbiphone-->   @Html.ActionLink("Choose Installment plan", "chooseinstallmentplane")</font></button>
        </div>
    </div>


    <div class="col-md-4">
        &nbsp;  &nbsp;  &nbsp;  <div><font color="Blue" title="Apple iphone"> &nbsp;  &nbsp;Apple iphone X-1 256GB</font></div>

        <figure class="snip0016">

            <img src="~/images/iphone-X-1.jpg" width="200" height="300" alt="Apple Iphone" />

            <figcaption>
                <h2 class="ctext"><span>Apple iphone X-1</span> best</h2>
                <p>Got It<br />Enjoy your Life with Mac.</p>
                <a href="https://www.apple.com/iphone/">Apple</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>45500Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose  Installment plan", "chooseinstallmentplaneiphonex256gb")</font></button>
        </div>
    </div>

    <div class="col-md-4">

        &nbsp;  <div><font color="#18acf5" title="Apple iphone"> &nbsp;Apple iphone 256GB (Red Addition)</font></div>
        <figure class="snip0016">

            <img src="~/images/ple iPhone 8 Plus – 64GB (RED EDITION).jpg" width="200" height="300" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Apple iphone </span> 8plus 256 GB</h2>
                <p> Got it<br /> Enjoy your's life with iphone</p>
                <a href="https://www.apple.com/iphone/">Apple</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>40500Rs<b></b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart"><!-- 256gbiphone--->@Html.ActionLink("Choose Installment plan", "chooseinstallmentplaneiphone256GB")</font></button>
        </div>

    </div>
</div>
<!---First Row End-->
<!---Seconed Row-->
<div class="container">

    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="#18acf5" title="Huawei-P20-Lite">Huawei-P20-Lite</font></div>
        <figure class="snip0016">

            <img src="~/images/huawei-P20-Lite.jpeg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Huawei-P20-Lite</span> </h2>
                <p> Got it<br /> Enjoy your's life with Huawei </p>
                <a href="https://consumer.huawei.com/en/support/phones/">Huwaei</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>12000Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart"><!--huwaeipr020-->@Html.ActionLink("Choose Installment plan", "chooseinstallmentplanehuwaieplitepr020")</font></button>
        </div>
    </div>


    <div class="col-md-4">
        &nbsp;  &nbsp;  &nbsp;  <div><font color="#18acf5" title="Apple iphone"> &nbsp;  &nbsp;Huwaei j7-pro-1</font></div>

        <figure class="snip0016">

            <img src="~/images/j7-pro-1-1.jpg" width="200" height="300" alt="Huwaei P20 Pro" />

            <figcaption>
                <h2 class="ctext"><span>Huwaei j7-pro-1 </span> best</h2>
                <p>Got It<br />Enjoy your Life with Huwaei</p>

                <a href="https://consumer.huawei.com/en/support/phones/">Huwaei</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>5000Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentplanesumsangj7pr0")</font></button>
        </div>
    </div>

    <div class="col-md-4">

        &nbsp;  <div><font color="#18acf5" title="Huwaie y7-prime"> &nbsp; Huwaie y7-prime</font></div>
        <figure class="snip0016">

            <img src="~/images/y7-prime-2018-specification-pakistan-1.jpg" width="200" height="300" alt="Huwaie y7-prime" />


            <figcaption>
                <h2 class="ctext"> <span>Huwaie y7-prime</span> </h2>
                <p> Got it<br /> Enjoy your's life with Huwaie</p>
                <a href="https://consumer.huawei.com/en/support/phones/">Huwaei</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>6000Rs<b></b></font></button><button class="btn-change7">
                <font class="glyphicon glyphicon-shopping-cart">
                    @Html.ActionLink("Choose Installment plan", "chooseinstallmentplaneHuwaeiy7")
                </font>
            </button>
        </div>

    </div>
</div>

<div class="container">

    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="Apple iphone  8plus 64 GB (Red Addition)">Apple iphone  8plus 64 GB (Red Addition)</font></div>
        <figure class="snip0016">

            <img src="~/images/ple iPhone 8 Plus – 64GB (RED EDITION).jpg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Apple iphone </span> 8plus 64 GB</h2>
                <p> Got it<br /> Enjoy your's life with iphone</p>
                <a href="https://www.apple.com/iphone/">Apple</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>34500Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart"> <!---64gbiphone-->   @Html.ActionLink("Choose Installment plan", "chooseinstallmentplane")</font></button>
        </div>
    </div>


    <div class="col-md-4">

        &nbsp;  <div><font color="#18acf5" title="Huwaie y7-prime"> &nbsp; Huwaie y7-prime</font></div>
        <figure class="snip0016">

            <img src="~/images/y7-prime-2018-specification-pakistan-1.jpg" width="200" height="300" alt="Huwaie y7-prime" />


            <figcaption>
                <h2 class="ctext"> <span>Huwaie y7-prime</span> </h2>
                <p> Got it<br /> Enjoy your's life with Huwaie</p>
                <a href="https://consumer.huawei.com/en/support/phones/">Huwaei</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>6000Rs<b></b></font></button><button class="btn-change7">
                <font class="glyphicon glyphicon-shopping-cart">
                    @Html.ActionLink("Choose Installment plan", "chooseinstallmentplaneHuwaeiy7")
                </font>
            </button>
        </div>

    </div>

    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="#18acf5" title="Huawei-P20-Lite">Huawei-P20-Lite</font></div>
        <figure class="snip0016">

            <img src="~/images/huawei-P20-Lite.jpeg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Huawei-P20-Lite</span> </h2>
                <p> Got it<br /> Enjoy your's life with Huawei </p>
                <a href="https://consumer.huawei.com/en/support/phones/">Huwaei</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>12000Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart"><!--huwaeipr020-->@Html.ActionLink("Choose Installment plan", "chooseinstallmentplanehuwaieplitepr020")</font></button>
        </div>
    </div>

</div>