
@{
    ViewBag.Title = "Tablet";
}

<br /><br />
<!---First row start of tablet-->
<div class="container">

    <h2>Tablet</h2>

    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="Samsung Tab 4 – 7.0″ (WiFi)">Samsung Tab 4 – 7.0″ (WiFi)</font></div>
        <figure class="snip0016">

            <img src="~/images/samsung-galaxy-tab-4-7-0-wifi.jpg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Samsung Tab 4 –</span>  7.0″ (WiFi) </h2>
                <p> Got it<br /> Enjoy your's life with  samsung</p>
                <a href="https://www.samsung.com/">samung</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>4300Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentsumsangtab4")</font></button>
        </div>
    </div>


    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="Samsung Tab E (T560)- 9.6″ (WiFi)">Samsung Tab E (T560)- 9.6″ (WiFi)</font></div>
        <figure class="snip0016">

            <img src="~/images/samsung-galaxy-tab-e-sm-t561-1 (1).jpg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Samsung Tab E (T560)</span> - 9.6″ (WiFi)</h2>
                <p> Got it<br /> Enjoy your's life with  samsung</p>
                <a href="https://www.samsung.com/">samung</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>6700Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentsumsangtabE")</font></button>
        </div>
    </div>


    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="Samsung Tab E (T561)- 9.6″ (WiFi+3G)">Samsung Tab E (T561)- 9.6″ (WiFi+3G)</font></div>
        <figure class="snip0016">

            <img src="~/images/Galaxy-Tab-S2_White_5.jpg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Samsung Tab E (T561)- 9.6″ (WiFi+3G)</span> - 9.6″ (WiFi+3G)</h2>
                <p> Got it<br /> Enjoy your's life with  samsung</p>
                <a href="https://www.samsung.com/">samung</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>10700Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentsumsangtas2")</font></button>
        </div>
    </div>

</div>
<!---First row start-->
<div class="container">

    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="Samsung Tab E (T561)- 9.6″ (WiFi+3G)">Samsung Tab E (T561)- 9.6″ (WiFi+3G)</font></div>
        <figure class="snip0016">

            <img src="~/images/Galaxy-Tab-S2_White_5.jpg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Samsung Tab E (T561)- 9.6″ (WiFi+3G)</span> - 9.6″ (WiFi+3G)</h2>
                <p> Got it<br /> Enjoy your's life with  samsung</p>
                <a href="https://www.samsung.com/">samung</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>10700Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentsumsangtas2")</font></button>
        </div>
    </div>

    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="Samsung Tab E (T560)- 9.6″ (WiFi)">Samsung Tab E (T560)- 9.6″ (WiFi)</font></div>
        <figure class="snip0016">

            <img src="~/images/samsung-galaxy-tab-e-sm-t561-1 (1).jpg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Samsung Tab E (T560)</span> - 9.6″ (WiFi)</h2>
                <p> Got it<br /> Enjoy your's life with  samsung</p>
                <a href="https://www.samsung.com/">samung</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>6700Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentsumsangtabE")</font></button>
        </div>
    </div>
    <div class="col-md-4">

        &nbsp;  &nbsp;  <div><font color="Blue" title="Samsung Tab 4 – 7.0″ (WiFi)">Samsung Tab 4 – 7.0″ (WiFi)</font></div>
        <figure class="snip0016">

            <img src="~/images/samsung-galaxy-tab-4-7-0-wifi.jpg" height="300" width="200" alt="Apple iphone" />


            <figcaption>
                <h2 class="ctext"> <span>Samsung Tab 4 –</span>  7.0″ (WiFi) </h2>
                <p> Got it<br /> Enjoy your's life with  samsung</p>
                <a href="https://www.samsung.com/">samung</a>
            </figcaption>


        </figure>
        <div>
            <button class="btn-change"><font class="glyphicon glyphicon-credit-card">Advance<br /><b>4300Rs</b></font></button><button class="btn-change7"><font class="glyphicon glyphicon-shopping-cart">@Html.ActionLink("Choose Installment plan", "chooseinstallmentsumsangtab4")</font></button>
        </div>
    </div>
</div>
<!---Seconed Row End-->